.comments-card {
  width: 50%;
  margin: 2rem auto;
  padding: 1rem 1rem 0 1rem;
  border: 1px solid rgb(239, 243, 244);
  border-radius: 10px;
  font-size: 1.2rem;
}

.post-comment-form {
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  border-radius: 1rem;
  gap: 0.5rem;
}

.post-textarea-form {
  display: flex;
  align-items: center;
  flex: 9;
  border: 1px solid #bbbbbb;
  border-radius: 1.5rem;
}

.post-textarea-form:focus {
  border: 2px solid #bbbbbb;
}

.form-pic {
  flex: 0;
}

.post-comment-input {
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.post-comment-input {
  flex: 2;
  padding: 1.4rem;
}

.post-comment-input textarea:focus {
  /* box-shadow: #9775fa 0px 1.5px 0px; */
}

.post-comment-input textarea::-webkit-input-placeholder {
  font-family: "Inter", cursive;
  font-size: 1.5rem;
  opacity: 0.5;
}

.post-comment-form .profile-pic {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0;
  clip-path: circle(45%);
  shape-outside: circle(45%);
}

.post-comment-form .profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-comment-btn {
  padding: 0 1rem;
}

/* Styling For Comments */
.comments {
  width: 100%;
}

.comments__title {
  font-size: 2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(239, 243, 244);
  margin: 2rem 0;
}

@media (min-width: 260px) and (max-width: 1024px) {
  .comments-card {
    width: 90%;
  }
}
